.subNavBar{
    display:flex;
    width:100%;
    background-color:aliceblue;
}

.subNav-link{
    display:block;
    text-decoration: none;
    padding:0.5rem 1rem;
    color: #6f6f6f;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    cursor: pointer;
}

.subNav-link:hover, .subNav-link.active{
    color: #1f1f1f;
}


/* ////////////////////////////////// */
/* AllUser */
/* ///////////////////////////////////  */
.user-card-container{
    width:100%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
}

.user-card-container .user-card{
    width:40%;
}