.user-card{
    border: 1px solid #111;
    border-radius: 5px;
    padding:0.9rem;
    margin: 0.6rem;
    background-color: #c9cef5;
    box-shadow: 3px 8px 11px 0px rgba(0,0,0,0.92);
}

.user-card h5{
    color: #1f1f1f;
}
.user-card>p{
    margin:0;
    padding:0;
}

.user-card .user-card-data{
    font-size:13px;
    font-style: italic;
}